
    <div xmlns:th="http://www.thymeleaf.org">

        <!-- jQuery -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <!-- Bootstrap 4 -->
        <script th:src="@{/bootstrap/bootstrap.bundle.min.js}"></script>
        <!-- DataTables -->
        <script th:src="@{/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
        <!-- AdminLTE App -->
        <script th:src="@{/js/adminlte.min.js}"></script>
        <script th:src="@{/js/demo.js}"></script>
        <!-- page script -->
        <script>
            $(function () {
                $("#example1").DataTable({
                    "responsive": true,
                    "autoWidth": false,
                });
                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                });
            });
        </script>
    </div>

