
    <aside class="main-sidebar sidebar-dark-primary elevation-4" xmlns="http://www.w3.org/1999/xhtml"
           xmlns:th="http://www.thymeleaf.org"
           xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
        <!-- Brand Logo -->
        <a th:href="@{/admin/dashboard}" class="brand-link">
            <img th:src="@{/image/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">AMS-HRD</span>
        </a>

        <div class="sidebar">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img th:src="@{/image/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a th:href="@{/admin/dashboard}" class="d-block" style="text-transform: uppercase"><th:block class="text-uppercase" sec:authentication="principal.username"></th:block></a>
                </div>
            </div>
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" >
                    <li class="nav-item" sec:authorize="hasRole('ADMIN') or hasRole('EDITOR') or hasRole('REVIEWER')">
                            <a th:href="@{/admin/review-articles}" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Article List
                                </p>
                            </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

