
    <div xmlns:th="http://www.thymeleaf.org">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" th:href="@{/css/all.min.css}">
        <!-- DataTables -->
        <link rel="stylesheet" th:href="@{/datatables-bs4/css/dataTables.bootstrap4.min.css}">
        <link rel="stylesheet" th:href="@{/datatables-responsive/css/responsive.bootstrap4.min.css}">
        <!-- Theme style -->
        <link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </div>
