<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/index}"
>
<head>
    <meta charset="UTF-8">
    <title>Article</title>
</head>
<body>
<div layout:fragment="mainContent">
    <div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">List Article</h3>
                    </div>
                    <div class="float-right">
                        <div class="float-right" style="padding: 1.25rem" sec:authorize="hasRole('ADMIN') or hasRole('EDITOR')">
                            <a th:href="@{/admin/article}" class="btn btn-info">Add Article</a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Author</th>
                                <th>Title</th>
                                <th>Descration</th>
                                <th>Type</th>
                                <th sec:authorize="hasRole('ADMIN') or hasRole('EDITOR')">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data , state: ${articles}" th:object="${data}">
                                <td th:text="${state.count}">id</td>
                                <td th:text="*{author}">author</td>
                                <td th:text="*{title}">title</td>
                                <td th:text="*{description}">description</td>
                                <td th:text="*{type}">type</td>
                                <td sec:authorize="hasRole('ADMIN') or hasRole('EDITOR')">
                                    <a th:href="@{/admin/deletearticles/{id}(id = *{id})}" class="btn btn-danger mr-1" sec:authorize="hasRole('ADMIN')">Delete</a>
                                    <a th:href="@{/admin/updatearticles/{id}(id = *{id})}" class="btn btn-info" sec:authorize="hasRole('ADMIN') or hasRole('EDITOR')">Update</a>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>

</div>
</body>
</html>