<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/index}"
>
<head>
    <meta charset="UTF-8">
    <title>Add Article</title>
</head>
<body>

<!-- SELECT2 EXAMPLE -->
<div class="card card-default" layout:fragment="mainContent">
    <div class="card-header">
        <h3 class="card-title">Add Article</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form  th:action="@{/admin/updatearticles/{id}(id=${article.id})}" method="post" th:object="${article}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Author</label>
                        <input class="form-control filter" type="text" placeholder="author" th:field="*{author}"  required >
                        <small th:if="${#fields.hasErrors('author')}" th:text="${#fields.errors('author').get(0)}" class="text-danger">a</small>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control filter" type="text" placeholder="title" th:field="*{title}" required>
                        <small th:if="${#fields.hasErrors('title')}" th:text="${#fields.errors('title').get(0)}" class="text-danger">a</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control filter" type="text" placeholder="description" th:field="*{description}" required>
                        <small th:if="${#fields.hasErrors('description')}" th:text="${#fields.errors('description').get(0)}" class="text-danger">a</small>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <input class="form-control filter" type="text" placeholder="type"  th:field="*{type}" required>
                        <small th:if="${#fields.hasErrors('type')}" th:text="${#fields.errors('type').get(0)}" class="text-danger">a</small>
                    </div>
                </div>
            </div>
            <div class="float-right">
                <input type="submit" value="Update" class="btn btn-info">
            </div>
        </form>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

</body>
</html>